# Simulation

In [1]:
import pandas as pd
import numpy as np

# Monte Carlo

In [2]:
random = np.random.rand(10)
random

array([0.80967967, 0.96439756, 0.89961531, 0.3694204 , 0.14216092,
       0.05494211, 0.17282052, 0.36427826, 0.39048414, 0.61478861])

In [3]:
x = np.array([0,1,2,3,4,5,6])
prob = np.array([0.3,0.2,0.2,0.08,0.16,0.02,0.04])
cumu = np.cumsum(prob)
exp_x = np.dot(x, prob)

print(cumu)
print("Expected Value =", exp_x)

[0.3  0.5  0.7  0.78 0.94 0.96 1.  ]
Expected Value = 1.8199999999999998

In [4]:
d = np.random.rand(1)
finding = d > cumu
i_finding = np.sum(finding)

print(d)
print(finding)
print(x[i_finding])

[0.28150491]
[False False False False False False False]
0

## For 100 random values

In [5]:
random = np.random.rand(100)
sim = []

for d in random:
    finding = d > cumu
    i_finding = np.sum(finding)
    sim.append(x[i_finding])

In [6]:
print("Mean of Simulated =", np.mean(sim))

Mean of Simulated = 2.01

# 100 Demand/Week

In [7]:
random = np.random.rand(100)

In [8]:
x = np.array([0,5,10,15,20,25])
prob = np.array([0.04,0.22,0.16,0.42,0.1,0.06])
cumu = np.cumsum(prob)

print(cumu)

[0.04 0.26 0.42 0.84 0.94 1.  ]

In [9]:
sim = []
for d in random:
    finding = d > cumu
    i_finding = np.sum(finding)
    sim.append(x[i_finding])
    
print("Mean of Simulated =", np.mean(sim))

Mean of Simulated = 12.45

# Sick Driver Problem

In [10]:
random = np.random.rand(100)

In [11]:
x = np.array([0,1,2,3,4,5])
prob = np.array([0.30,0.20,0.15,0.10,0.13,0.12])
cumu = np.cumsum(prob)

In [12]:
sim = []

for d in random:
    finding = d> cumu
    i_finding = np.sum(finding)
    sim.append(x[i_finding])
  
# No.of Reserved drivers
reserved = 2
sim = np.array(sim)

# Days the bus will be cancled
np.sum(sim > 2)

28

# Purchase - sale

In [13]:
random = np.random.rand(30)

In [14]:
# Supply probability
supply = np.array([10,20,30,40,50])
sum_prob = np.array([0.08,0.1,0.38,0.3,0.14])

# Demand probability
demand = np.array([10,20,30,40,50])
de_prob = np.array([50,110,200,100,40])/500

In [15]:
cumu_supply = np.cumsum(sum_prob)
cumu_demand = np.cumsum(de_prob)

In [16]:
random = np.random.rand(30)
sim_demand = []

for d in random:
    finding = d > cumu_demand
    i_finding = np.sum(finding)
    sim_demand.append(demand[i_finding])

In [17]:
random = np.random.rand(30)
sim_supply = []

for d in random:
    finding = d > cumu_supply
    i_finding = np.sum(finding)
    sim_supply.append(supply[i_finding])

In [18]:
sim_df = pd.DataFrame({'sim_supply':sim_supply,
                       'sim_demand':sim_demand})

sim_df.head(5)

   sim_supply  sim_demand
0          40          40
1          40          30
2          40          30
3          40          30
4          50          30

In [19]:
sim_df['sold'] = np.minimum(sim_supply, sim_demand)
sim_df.head(5)

   sim_supply  sim_demand  sold
0          40          40    40
1          40          30    30
2          40          30    30
3          40          30    30
4          50          30    30

In [20]:
sim_supply = np.array(sim_supply)
sim_demand = np.array(sim_demand)

sim_df['lost'] = np.where(sim_supply > sim_demand, sim_supply - sim_demand, 0)
sim_df.head(5)

   sim_supply  sim_demand  sold  lost
0          40          40    40     0
1          40          30    30    10
2          40          30    30    10
3          40          30    30    10
4          50          30    30    20

In [21]:
sim_df['profit'] = sim_df['sold'] * 10
sim_df['loss'] = sim_df['lost'] * 8

sim_df.head(5)

   sim_supply  sim_demand  sold  lost  profit  loss
0          40          40    40     0     400     0
1          40          30    30    10     300    80
2          40          30    30    10     300    80
3          40          30    30    10     300    80
4          50          30    30    20     300   160

In [22]:
sim_df['Net_profit'] = sim_df['profit'] - sim_df['lost']
sim_df

    sim_supply  sim_demand  sold  lost  profit  loss  Net_profit
0           40          40    40     0     400     0         400
1           40          30    30    10     300    80         290
2           40          30    30    10     300    80         290
3           40          30    30    10     300    80         290
4           50          30    30    20     300   160         280
5           30          40    30     0     300     0         300
6           20          40    20     0     200     0         200
7           40          30    30    10     300    80         290
8           50          40    40    10     400    80         390
9           20          20    20     0     200     0         200
10          30          40    30     0     300     0         300
11          30          30    30     0     300     0         300
12          30          30    30     0     300     0         300
13          30          40    30     0     300     0         300
14          10          40    10     0     100     0         100
15          30          30    30     0     300     0         300
16          30          20    20    10     200    80         190
17          40          30    30    10     300    80         290
18          30          40    30     0     300     0         300
19          20          40    20     0     200     0         200
20          40          30    30    10     300    80         290
21          10          50    10     0     100     0         100
22          10          30    10     0     100     0         100
23          40          20    20    20     200   160         180
24          40          30    30    10     300    80         290
25          30          30    30     0     300     0         300
26          40          20    20    20     200   160         180
27          40          10    10    30     100   240          70
28          30          30    30     0     300     0         300
29          30          30    30     0     300     0         300

# Books Customer

In [23]:
random = np.random.rand(20)

book_cus = np.array([0,1,2,4,5,7,8,9,10,15])
prob = np.array([2,27,15,21,9,4,1,2,1,1])/83
cumu = np.cumsum(prob)

In [24]:
sim = []

for d in random:
    finding = d > cumu
    i_finding = np.sum(finding)
    sim.append(book_cus[i_finding])

print(finding)
print(i_finding)
print(sim)

[ True  True  True False False False False False False False]
3
[4, 4, 1, 1, 2, 4, 5, 1, 9, 5, 5, 1, 1, 1, 5, 1, 1, 4, 2, 4]

In [25]:
print("Mean of Simulated =", np.mean(sim))

Mean of Simulated = 3.05