In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats as stats
import statistics
from scipy.stats import ttest_1samp

In [2]:
plant=pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Adv Analytics\Datasets\PlantGrowth.csv")
plant

    weight group
0     4.17  ctrl
1     5.58  ctrl
2     5.18  ctrl
3     6.11  ctrl
4     4.50  ctrl
5     4.61  ctrl
6     5.17  ctrl
7     4.53  ctrl
8     5.33  ctrl
9     5.14  ctrl
10    4.81  trt1
11    4.17  trt1
12    4.41  trt1
13    3.59  trt1
14    5.87  trt1
15    3.83  trt1
16    6.03  trt1
17    4.89  trt1
18    4.32  trt1
19    4.69  trt1
20    6.31  trt2
21    5.12  trt2
22    5.54  trt2
23    5.50  trt2
24    5.37  trt2
25    5.29  trt2
26    4.92  trt2
27    6.15  trt2
28    5.80  trt2
29    5.26  trt2

## Two tailed hypothesis

In [3]:
# H0 - Mean may be different
# H1 - Mean may be same
result = ttest_1samp(plant['weight'] , popmean=6 , alternative='two-sided')

test_stat = result[0]
p_value = result[1]

In [4]:
print("Test Statistics" , test_stat)
print("P-value" , p_value)

Test Statistics -7.241082682752038
P-value 5.6661514904956434e-08

In [5]:
# Conclusion: We reject H0 with alpha=0.05 or 0.01
# We often call it as 
# We reject H0 at 5% level of significance

## Lower tailed hypothesis

In [6]:
result = ttest_1samp(plant['weight'] , popmean=6 , alternative='less')

test_stat = result[0]
p_value = result[1]

In [7]:
print("Test Statistics" , test_stat)
print("P-value" , p_value)

Test Statistics -7.241082682752038
P-value 2.8330757452478217e-08

## Upper tailed hypothesis

In [8]:
result = ttest_1samp(plant['weight'] , popmean=6 , alternative='greater')

test_stat = result[0]
p_value = result[1]

In [9]:
print("Test Statistics" , test_stat)
print("P-value" , p_value)

Test Statistics -7.241082682752038
P-value 0.9999999716692425

## 1.	The CO2.csv dataset has 84 rows and 5 columns of data from an experiment on the cold tolerance of the grass species Echinochloa crus-galli. 
## plant: an ordered factor with levels Qn1 < Qn2 < Qn3 < ... < Mc1 giving a unique identifier for each plant.
## type: a factor with levels Quebec Mississippi giving the origin of the plant treatment: a factor with levels nonchilled chilled
## conc: a numeric vector of ambient carbon dioxide concentrations (mL/L).
## uptake: a numeric vector of carbon dioxide uptake rates (umol/m^2 sec).
## Test whether the population mean uptake is less than 30 or not with 5% level of significance

In [10]:
co2=pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Adv Analytics\Datasets\CO2.csv")
co2

   Plant         Type   Treatment  conc  uptake
0    Qn1       Quebec  nonchilled    95    16.0
1    Qn1       Quebec  nonchilled   175    30.4
2    Qn1       Quebec  nonchilled   250    34.8
3    Qn1       Quebec  nonchilled   350    37.2
4    Qn1       Quebec  nonchilled   500    35.3
..   ...          ...         ...   ...     ...
79   Mc3  Mississippi     chilled   250    17.9
80   Mc3  Mississippi     chilled   350    17.9
81   Mc3  Mississippi     chilled   500    17.9
82   Mc3  Mississippi     chilled   675    18.9
83   Mc3  Mississippi     chilled  1000    19.9

[84 rows x 5 columns]

In [11]:
result = ttest_1samp(co2['uptake'] , popmean=30 , alternative='less')

test_stat = result[0]
p_value = result[1]

In [12]:
print("Test Statistics" , test_stat)
print("P-value" , p_value)

Test Statistics -2.3618855435932176
P-value 0.010261893168049612

## 2.	The Indometh.csv data frame has 66 rows and 3 columns of data on the pharmacokinetics of indometacin (or, older spelling, ‘indomethacin’).
## Subject:  an ordered factor with containing the subject codes. The ordering is according to increasing maximum response.

## time: a numeric vector of times at which blood samples were drawn (hr).

## conc: a numeric vector of plasma concentrations of indometacin (mcg/ml).

## Test whether the population mean for Plasma Concentration is greater than 0.30 at 5% level of significance

In [13]:
indometh=pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Adv Analytics\Datasets\Indometh.csv")
indometh

    Subject  time  conc
0         1  0.25  1.50
1         1  0.50  0.94
2         1  0.75  0.78
3         1  1.00  0.48
4         1  1.25  0.37
..      ...   ...   ...
61        6  3.00  0.24
62        6  4.00  0.17
63        6  5.00  0.13
64        6  6.00  0.10
65        6  8.00  0.09

[66 rows x 3 columns]

In [14]:
result = ttest_1samp(indometh['conc'] , popmean=0.30 , alternative='greater')

test_stat = result[0]
p_value = result[1]

In [15]:
print("Test Statistics" , test_stat)
print("P-value" , p_value)

Test Statistics 3.747709847869668
P-value 0.00019078198159284992