In [128]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import statistics

# Mean Median Mode

In [129]:
l=[12,34,45,50,24]
avg=np.average(l)
avg

33.0

In [130]:
mea=np.mean(l)
mea

33.0

In [131]:
med=np.median(l)
med

34.0

In [132]:
mod=stats.mode(l)
mod

C:\Users\patil\AppData\Local\Temp\ipykernel_3892\2290122135.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mod=stats.mode(l)

ModeResult(mode=array([12]), count=array([1]))

In [133]:
a=[3,2,2,3,3,1,80,50,2]
a

[3, 2, 2, 3, 3, 1, 80, 50, 2]

In [134]:
mod=stats.mode(a)
mod

C:\Users\patil\AppData\Local\Temp\ipykernel_3892\3968440787.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mod=stats.mode(a)

ModeResult(mode=array([2]), count=array([3]))

In [135]:
a=[3,2,2,3,3,1,80,50]
mod=stats.mode(a)
mod

C:\Users\patil\AppData\Local\Temp\ipykernel_3892\1290822416.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mod=stats.mode(a)

ModeResult(mode=array([3]), count=array([3]))

In [136]:
a=[50,21,51,50,31,61]
mod=stats.mode(a)
mod

C:\Users\patil\AppData\Local\Temp\ipykernel_3892\1348491803.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mod=stats.mode(a)

ModeResult(mode=array([50]), count=array([2]))

# Variance & Std.Deviation

In [137]:
arr=[1,2,3,4,5,6]
print("Var=",(statistics.variance(arr)))

Var= 3.5

In [138]:
print("Std=",(statistics.stdev(a)))

Std= 14.886235252742717

In [139]:
df=pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Adv Analytics\new data set\test.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [140]:
print(df["Gender"].isna().sum())  #prints how many values are null in gender
print(df["Credit_History"].isna().sum()) #prints how many values are null in Credit_History
print(df["Property_Area"].isna().sum())
print(df["LoanAmount"].isna().sum())

11
29
0
5

In [141]:
print(df[:].isna().sum())

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [142]:
df["Gender"].value_counts()

Male      286
Female     70
Name: Gender, dtype: int64

In [143]:
df["Self_Employed"].value_counts()

No     307
Yes     37
Name: Self_Employed, dtype: int64

In [144]:
df["Credit_History"].value_counts()

1.0    279
0.0     59
Name: Credit_History, dtype: int64

In [145]:
df=pd.read_csv(r"C:\Users\patil\Desktop\Know IT CADC\Adv Analytics\new data set\train.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [146]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [147]:
df.isna().any()

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [148]:
print(df["Dependents"].isna().sum())
print(df["Education"].isna().sum())

15
0

# Filling null values

In [149]:
df["Dependents"]=df["Dependents"].fillna(df["Dependents"].mode()[0]) #for character use mode
df["Education"]=df['Education'].fillna(df["Education"].mode()[0])
df["LoanAmount"]=df['LoanAmount'].fillna(df["LoanAmount"].mean()) #for number use mean
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,Semiurban,N

In [150]:
print(df["Dependents"].isna().sum())
print(df["Education"].isna().sum())
print(df["LoanAmount"].isna().any())

0
0
False